// -------------------------DEVELOPMENT------------------ //

.parallax__image {
	position: fixed;
	width: 100%;
	background: url('../image/bgThree.jpeg') no-repeat;
	background-size: cover;
	height: 100vh;
	top:0;
	left:0;
	z-index: -1;
	
}

.development {
	padding: 3rem;
	position: relative;
	z-index: 1;

	&__title {
		@include Headline();
		@include fontSet($desktopTitle,center);
		color: #fff;
		padding: 2rem;
		margin: 3rem auto;
		border-bottom: 1px dotted  $titleBorderBottom;
		@include textShadow();
		letter-spacing: .3rem;

		&::after {
			content: url('../image/arrowChanged.png');
			width: 1rem;
			height: 1rem;
			position:absolute;
			top: 10.7rem;
			left: 47%;
		}
	}

	&__cards {
		display: flex;
		flex-direction: column;
		padding: 2rem;
		width: 65%;
		margin: 0rem auto;
		justify-content: center;

		.development__card {
			background: $cardsBg;
			border-radius: .4rem;
			margin: 3rem 0rem;
			padding: 2rem;
			box-shadow: 3px 3px 15px 0px darken(#38425B,10%);


			&-title {
				@include Bold();
				@include fontSet(2rem,center);
				color: $mainHeadline;
				padding: 2rem;
				margin-bottom: 2rem;
				letter-spacing: .3rem;
				border-bottom: 1px solid #E0E0E0;
			}

			.science__card-slider {
				

				.slider__cell {
					width: 100%;
					background: $cardsBg;
					display: flex;
					align-items: center;
					justify-content: center;
					
					.figure__box{
						padding: 1rem;
						text-align: center;

						&-image {
							border-radius: .4rem;
							height: 250px;

						}

						&-caption {
							@include Light();
							@include fontSet(1.2rem,center);
							color: $mainTitle;
							letter-spacing: .2rem;
						}
					}
				}


				.flickity-prev-next-button {
					  width: 40px;
					  height: 40px;
					}

				.flickity-button {
					background: #eee;
				}

				.flickity-button-icon {
					  fill: $textShadow;	  
				}
			}



			&-text {
				@include Text();
				@include fontSet($desktopText,left);
				color: $mainHeadline;
				padding: 2rem;

				.development__card-link {
					@include Text();
					@include fontSet($desktopText,left);
					color: $textShadow;
					text-decoration: none;
					margin-left: .5rem;
					transition: color .3s ease;

					&:hover {
						color: darken($textShadow, 10%);
					}
				}
			}
		}

	}

}


//Mediaqueries


@media (min-width: 768px) and (max-width: 991px) {

	.development {
		padding-top: 1.5rem;

		&__title {
			margin: 1rem auto;

			&::after {
				top: 7.2rem;
			}
		}

		&__cards {
			width: 85%;
		}
	}

}



@media (min-width: 550px) and (max-width: 767px) {
	.development {
		padding-top: 1.5rem;

		&__title {
			margin: 1rem auto;

			&::after {
				top: 7.2rem;
			}
		}

		&__cards {
			width: 90%;

			.development__card{
				padding: 2.5rem;

				&-title {
					font-size: 2rem;
				}

				.science__card-slider {

					.slider__cell {
						
						.figure__box {

							&-image{
								height: 250px;
							}

							&-caption {
								font-size: 1.3rem;
							}
						}
					}
				}

				&-text {
					font-size: $laptopText;
				}
			}

		}
	}
}



@media (min-width: 450px) and (max-width: 549px) {
	.development {
		padding: 1.5rem 1rem;

		&__title {
			margin: 1rem auto;

			&::after {
				content: none;
			}
		}

		&__cards {
			width: 100%;
			padding: 2rem 0rem;

			.development__card{
				padding: 2rem;
				margin: 3.5rem 0rem;

				&-title {
					font-size: 2rem;
				}

				.science__card-slider {

					.slider__cell {
						

						.figure__box {

							&-image{
								height: 250px;
							}

							&-caption {
								font-size: 1.3rem;
							}
						}
					}
				}

				&-text {
					font-size: $laptopText;
				}
			}

		}
	}
}

@media screen and (max-width: 449px){
	.development {
		padding: 1.5rem 1rem;

		&__title {
			margin: 2rem auto;

			&::after {
				content: none;
			}
		}

		&__cards {
			width: 100%;
			padding: 2rem 0rem;

			.development__card{
				padding: 1.5rem;
				margin: 4rem auto;

				&-title {
					font-size: 2rem;
				}
				
				.science__card-slider {

					.slider__cell {
						

						.figure__box {

							&-image{
								height: 200px;
							}

							&-caption {
								font-size: 1.4rem;
							}
						}
					}
				}


				&-text {
					font-size: $mobileText;
				}
			}

		}
	}

}