// Home Page
$mainHeadline: #353535;
$mainTitle: #8c9398;
$textShadow: #3fadb4;
$navLinkBg: #ebf0f1b8;
$navLinkBgMobile: #eee;
$tableNumber: #989898;
$couplerBg: #0F1112;
$blockTitleBg: #3dc9b340;
$couplerBg: linear-gradient(to right, #2b5876, #2f5479, #374f7a, #424a79, #4e4376);
$titleBorderBottom: #b2c1c696;
$cardsBg: #fafafa;

//Text size
$desktopTitle: 2.5rem; //team experiments contacts PUBLICATIONS manual
$desktopSubTitle: 1.7rem; // experiments contacts PUBLICATIONS manual
$desktopText: 1.5rem; //team experiments contacts
$desktopWorkerName: 2.2rem; // experiments 
$desktopWorkerPos: 1.8rem; // experiments
$desktopWorkerText: 1.5rem; // experiments

$desktopMinTitle: 2.5rem;
$desktopMinSubTitle: 1.6rem;
$desktopMinText: 1.5rem;
 
$laptopTitle: 2.7rem; // team experiments manual
$laptopSubTitle: 1.8rem; //experiments PUBLICATIONS manual
$laptopText: 1.6rem; //team experiments
$laptopWorkerName: 2.2rem; // experiments
$laptopWorkerPos: 1.8rem; //experiments
$laptopWorkerText: 1.6rem; //experiments


$mobileTitle:2.7rem; //team experiments
$mobileSubTitle: 1.9rem; // experiments
$mobileText: 1.7rem; //team experiments
$mobileWorkerName: 2.3rem; // experiments
$mobileWorkerPos: 1.9rem; // experiments
$mobileWorkerText: 1.7rem; //experiments